<b>Organisation:</b>
<br />
<%= @employerForm.name %>
<br />
<br />
<b>Contact:</b>
<br />
<%= @employerForm.contact_name %>
<br />
<%= @employerForm.contact_email %>
<br />
<%= @employerForm.contact_phone %>
<br />
<br />
<a href="http://lep.apprenticeshipsnorfolk.org/users/sign_in">Log in now to view the application</a>