@import normalize
@import variables
@import flex_mixins
@import general
@import forms
@import old


#page_wrapper
  padding-top: 106px
  max-width: 1200px
  margin: 0 auto

input[type="text"], input[type="password"], input[type="email"], select
  height: 50px
  line-height: 50px

.field[data-required]

  &.field_with_errors
    border: 1px solid red

  label:after
    content: '*'

.panel
  margin-bottom: 30px
  display: none
  width: 756px

  &.current_panel
    display: block
