.footer_widgetarea
  .container.clearfix
    .f_col.f_col_1
      #super_rss_reader-2.box.widget_super_rss_reader
        %h3 Latest Regional News
        / Start - Super RSS Reader v2.5
        .super-rss-reader-widget
          %ul.srr-tab-wrap.srr-tab-style-dark.srr-clearfix
            %li.srr-active-tab{"data-tab" => "srr-tab-939"} EDP Business News
            %li{"data-tab" => "srr-tab-678"} EADT News
            %li{"data-tab" => "srr-tab-323"} BBC News - Business
            %li{"data-tab" => "srr-tab-318"} Evening Star News
          .srr-wrap.srr-vticker.srr-style-dark{"data-id" => "srr-tab-939", "data-speed" => "2000", "data-visible" => "3", :style => "display: block; position: relative; height: 351px; overflow: hidden;"}
            %div{:style => "margin: 0px; position: absolute; top: 0px;"}
              .srr-item.even{:style => "margin: 0px; display: block;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.edp24.co.uk/norfolk_chamber_report_reveals_regional_growth_paused_even_before_referendum_vote_1_4612592", :style => "outline: none;", :target => "_blank", :title => "Posted on 11 July 2016"} Norfolk Chamber report reveals regional growth ‘paused’ even before referendum vote
                .srr-meta
                  %time.srr-date 11 July 2016
              .srr-item.odd{:style => "margin: 0px; display: block;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.edp24.co.uk/business_output_slumps_amid_brexit_uncertainty_report_states_1_4611323", :style => "outline: none;", :target => "_blank", :title => "Posted on 11 July 2016"} Business output slumps amid Brexit uncertainty, report states
                .srr-meta
                  %time.srr-date 11 July 2016
              .srr-item.odd{:style => "margin: 0px; display: block; opacity: 0.790694;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.edp24.co.uk/george_osborne_intervened_in_hsbc_money_laundering_probe_report_1_4612885", :style => "outline: none;", :target => "_blank", :title => "Posted on 12 July 2016"} George Osborne intervened in HSBC money laundering probe - report
                .srr-meta
                  %time.srr-date 12 July 2016
          .srr-wrap.srr-vticker.srr-style-dark{"data-id" => "srr-tab-678", "data-speed" => "2000", "data-visible" => "3", :style => "display: none; position: relative; height: 60px; overflow: hidden;"}
            %div{:style => "margin: 0px; position: absolute;"}
              .srr-item.odd{:style => "margin: 0px;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.eadt.co.uk/record_sum_raised_for_action_medical_research_at_gig_in_the_garden_in_mendlesham_1_4613173", :style => "outline: none;", :target => "_blank", :title => "Posted on 12 July 2016"} Record sum raised for Action Medical Research at Gig in the Garden in Mendlesham
                .srr-meta
                  %time.srr-date 12 July 2016
              .srr-item.even{:style => "margin: 0px;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.eadt.co.uk/hundreds_attend_craft_fair_at_clare_priory_as_willow_dragonflies_prove_a_hit_1_4613138", :style => "outline: none;", :target => "_blank", :title => "Posted on 12 July 2016"} Hundreds attend craft fair at Clare Priory as willow dragonflies prove a hit
                .srr-meta
                  %time.srr-date 12 July 2016
              .srr-item.odd{:style => "margin: 0px;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.eadt.co.uk/new_prime_minister_theresa_may_vows_to_give_people_of_suffolk_more_control_over_their_lives_1_4612979", :style => "outline: none;", :target => "_blank", :title => "Posted on 12 July 2016"} New Prime Minister Theresa May vows to give people of Suffolk ‘more control over their lives’
                .srr-meta
                  %time.srr-date 12 July 2016
          .srr-wrap.srr-vticker.srr-style-dark{"data-id" => "srr-tab-323", "data-speed" => "2000", "data-visible" => "3", :style => "display: none; position: relative; height: 60px; overflow: hidden;"}
            %div{:style => "margin: 0px; position: absolute;"}
              .srr-item.odd{:style => "margin: 0px;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.bbc.co.uk/news/business-36770311", :style => "outline: none;", :target => "_blank", :title => "Posted on 12 July 2016"} Italy economy: IMF says country has 'two lost decades' of growth
                .srr-meta
                  %time.srr-date 12 July 2016
              .srr-item.even{:style => "margin: 0px;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.bbc.co.uk/news/business-36771595", :style => "outline: none;", :target => "_blank", :title => "Posted on 12 July 2016"} Siemens promises UK investment despite Brexit warning
                .srr-meta
                  %time.srr-date 12 July 2016
              .srr-item.odd{:style => "margin: 0px;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.bbc.co.uk/news/business-36768140", :style => "outline: none;", :target => "_blank", :title => "Posted on 12 July 2016"} HSBC avoided US money laundering charges because of 'market risk' fears
                .srr-meta
                  %time.srr-date 12 July 2016
          .srr-wrap.srr-vticker.srr-style-dark{"data-id" => "srr-tab-318", "data-speed" => "2000", "data-visible" => "3", :style => "display: none; position: relative; height: 60px; overflow: hidden;"}
            %div{:style => "margin: 0px; position: absolute;"}
              .srr-item.odd{:style => "margin: 0px;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.ipswichstar.co.uk/new_prime_minister_theresa_may_vows_to_give_people_of_suffolk_more_control_over_their_lives_1_4612979", :style => "outline: none;", :target => "_blank", :title => "Posted on 12 July 2016"} New Prime Minister Theresa May vows to give people of Suffolk ‘more control over their lives’
                .srr-meta
                  %time.srr-date 12 July 2016
              .srr-item.even{:style => "margin: 0px;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.ipswichstar.co.uk/why_parents_have_no_right_to_be_smug_1_4612967", :style => "outline: none;", :target => "_blank", :title => "Posted on 12 July 2016"} Why parents have no right to be smug
                .srr-meta
                  %time.srr-date 12 July 2016
              .srr-item.odd{:style => "margin: 0px;"}
                .srr-title
                  %a{:hidefocus => "true", :href => "http://www.ipswichstar.co.uk/suffolk_county_council_s_rainy_day_fund_continues_to_rise_despite_spending_cutbacks_1_4612945", :style => "outline: none;", :target => "_blank", :title => "Posted on 12 July 2016"} Suffolk County Council’s ‘rainy day’ fund continues to rise despite spending cutbacks
                .srr-meta
                  %time.srr-date 12 July 2016
        / End - Super RSS Reader
    .f_col.f_col_2
      .widget-container.widget_twitter.first
        %h3.widget-title Twitter Roll
        .tweet_list
          .tweet_item.even
            .tweet_image
              %img{:alt => "", :height => "58", :src => "http://pbs.twimg.com/profile_images/752798609691799552/lyREJuPW_normal.jpg", :width => "58"}/
            .tweet_text
              .inner New day, new profile picture...
            %span.tweet_time about 46 minutes ago
            .clear
          .tweet_item.last
            .tweet_image
              %img{:alt => "", :height => "58", :src => "http://pbs.twimg.com/profile_images/752798609691799552/lyREJuPW_normal.jpg", :width => "58"}/
            .tweet_text
              .inner
                RT
                = succeed ":" do
                  %a{:hidefocus => "true", :href => "http://twitter.com/VisitEastAnglia", :rel => "nofollow", :style => "outline: none;", :target => "_blank"} @VisitEastAnglia
                Wells-next-the-Sea named British beach of the year! See the new film by
                %a{:hidefocus => "true", :href => "http://twitter.com/vstnorthnorfolk", :rel => "nofollow", :style => "outline: none;", :target => "_blank"} @vstnorthnorfolk
                %a{:hidefocus => "true", :href => "https://t.co/ycSwHYjfrr", :rel => "nofollow", :style => "outline: none;", :target => "_blank"} https://t.co/ycSwHYjfrr
                https…
            %span.tweet_time about 17 hours ago
            .clear
    .f_col.f_col_3
      .widget-container.widget_text.first
        %h3.widget-title Read our newsletter
        .textwidget
          %p
            To receive the latest updates from New Anglia please sign up to our newsletter.
          / DO NOT EDIT THE CODE BELOW THIS COMMENT
          .subscribe-button-inner{:style => "height: 27px; width: 209px; overflow: visible; text-align: left; margin: 0px; padding: 0px; border: 0px; display: inline-block;"}
            %iframe.subscribe-button-frame{:allowtransparency => "true", :frameborder => "0", :src => "http://btn.createsend1.com/subscribebutton/subscribe#listid=r%2F06%2F659%2FF3C%2FB574977881C11C06", :style => "border: 0px none transparent; overflow: hidden; display: inline-block; position: absolute; visibility: visible; height: 27px; width: 209px; margin: 0px !important; padding: 0px !important; background: transparent;"}
          .createsend-button{"data-listid" => "r/06/659/F3C/B574977881C11C06", :style => "height: 27px; display: none;"}
          :javascript
            (function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();      
        .widget-container.widget_contact
          .inner
            .contact-address
              .name
                %strong Contact Us
              .address 01603 510070   info@newanglia.co.uk
    .f_col.f_col_4
    .clear

.footer_social
  .container
    %a.social-twitter{:hidefocus => "true", :href => "https://twitter.com/NewAngliaLEP", :style => "outline: none;"}
      %span Twitter
    %a.social-linkedin{:hidefocus => "true", :href => "http://www.linkedin.com/groups/New-Anglia-LEP-3764553", :style => "outline: none;"}
      %span LinkedIn

.footer
  .container.clearfix
    .botmenu
      .menu-bottom-container
        %ul#menu-bottom.menu
          %li#menu-item-1029.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1029
            %a{:hidefocus => "true", :href => "http://www.newanglia.co.uk/", :style => "outline: none;"}
              %span Home
          %li#menu-item-12583.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-12583
            %a{:hidefocus => "true", :href => "http://www.newanglia.co.uk/contact-us/", :style => "outline: none;"}
              %span Contact Us
          %li#menu-item-4995.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4995
            %a{:hidefocus => "true", :href => "http://www.newanglia.co.uk/terms-and-conditions/", :style => "outline: none;"}
              %span Terms and conditions
          %li#menu-item-4994.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4994
            %a{:hidefocus => "true", :href => "http://www.newanglia.co.uk/privacy-policy/", :style => "outline: none;"}
              %span Privacy Policy
    .copyright Copyright © 2011 - 2015 New Anglia LEP